/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter-Variable";
  --main-font-size: 1.125rem;
  --main-font-weight: 400;
  --title-font-weight: 700;
  --accent-font-family: "PressStart2P";
  --section-inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --header-block-size: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  --title-font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  --subtitle-font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  --gap-card: 50px;
  --bg-color: #fff;
  --spacing-large: 25px;
  --text-color: #fff;
  --modal-inline-size: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  --modal-padding: 30px;
  --modal-padding-inline: clamp(2.625rem, -1.127vw + 2.889rem, 1.875rem);
  --accent-color: #000;
  --heart-color: #ff0000;
}
